{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
    <div class="container">
        <h1>Page d'accueil du site</h1>
        {% if app.user %}
            <p>Bienvenue, {{ app.user.email }}!</p>
            {% if is_granted("ROLE_ADMIN") %}
                <p>Vous avez des privilèges d'administrateur.</p>
            {% else %}
                <p>Vous n'avez pas de privilèges d'administrateur.</p>
            {% endif %}
        {% endif %}
{% endblock %}
